---
import type { GetStaticPaths } from "astro";
import { getPosts } from "../../js/getPosts";
import slug from "slug";
import Footer from "../../components/layout/Footer.astro";
import { imageFetch } from "../../js/ImageFetch";
import { Image } from "astro:assets";
import Head from "../../components/layout/Head.astro";
export const prerender = true;
export const getStaticPaths = (async () => {
  const proyectos = (await getPosts("proyectos")).proyectos;
  return proyectos.map((proyecto: any) => ({
    params: {
      proyectolanding: slug(proyecto.card.nombre),
    },
    props: { proyecto: proyecto },
  }));
}) satisfies GetStaticPaths;
const { proyecto } = Astro.props as { proyecto: any };

let proyecto_form = { nombre: proyecto.card.nombre, id: proyecto.proyect_id };
const videoFondo = await imageFetch(proyecto.landing.video_fondo);
const logo = await imageFetch(proyecto.pag.logo);
// const video_yt = proyecto.landing.video_yt;
// const src_yt = video_yt.split('"')[5];
// const title_yt = video_yt.split('"')[7];
---

<!doctype html>
<html lang="es">
  <Head
    title={proyecto.pag.titulo}
    descripcion={proyecto.landing.descripcion}
  />
  <body>
    <div class="relative">
      <div class="relative">
        <div
          class="z-20 relative flex lg:flex-row flex-col w-screen h-fit min-h-svh text-white"
        >
          <div
            class="flex flex-col justify-center items-center gap-16 drop-shadow-strong w-full lg:w-[50%] h-fit lg:h-svh"
          >
            <Image
              class="mt-20 w-[600px] max-w-[90%]"
              src={logo}
              alt=""
              inferSize
            />
            <div class="max-w-[85%] text-start">
              <h1
                class="w-full font-semibold text-5xl md:text-6xl xl:text-7xl 2xl:text-8xl leading-[1.2]"
              >
                🏡 {proyecto.landing.h1}
              </h1>
              <h2 class="w-full text-2xl">{proyecto.landing.h2}</h2>
            </div>
          </div>
          <div
            class="flex justify-center items-center bg-[#0008] lg:m-0 mt-10 py-20 w-full lg:w-[50%] lg:h-svh min-h-full"
          >
            <form method="post" id="formulario_lord" class="max-w-[80%]">
              <p class="drop-shadow-xl mb-5 text-xl">
                {proyecto.landing.text_form}
              </p>
              <input
                required
                type="text"
                id="nombres"
                name="nombres"
                class="bg-[#f5f5f5] mb-[7px] xl:mb-[8px] 2xl:mb-[10px] px-[15px] py-[10px] border-[#b8b8b8] border-[1px] rounded-xl w-full font-medium text-[#666] text-[13px] 2xl:text-[15px] appearance-none"
                class="bg-[#f5f5f5] mb-[7px] xl:mb-[8px] 2xl:mb-[10px] px-[15px] py-[10px] border-[#b8b8b8] border-[1px] rounded-xl w-full font-medium text-[#666] text-[13px] 2xl:text-[15px] appearance-none"
                aria-label="nombres"
                placeholder="Nombres*"
              />
              <input
                required
                type="text"
                id="apellidos"
                name="apellidos"
                class="bg-[#f5f5f5] mb-[7px] xl:mb-[8px] 2xl:mb-[10px] px-[15px] py-[10px] border-[#b8b8b8] border-[1px] rounded-xl w-full font-medium text-[#666] text-[13px] 2xl:text-[15px] appearance-none"
                aria-label="apellidos"
                placeholder="Apellidos*"
              />
              <input
                required
                id="email"
                name="email"
                type="email"
                class="bg-[#f5f5f5] mb-[7px] xl:mb-[8px] 2xl:mb-[10px] px-[15px] py-[10px] border-[#b8b8b8] border-[1px] rounded-xl w-full font-medium text-[#666] text-[13px] 2xl:text-[15px] appearance-none"
                aria-label="email"
                autocomplete="email"
                placeholder="Correo electrónico*"
              />

              <input
                required
                type="tel"
                id="celular"
                name="celular"
                class="bg-[#f5f5f5] mb-[7px] xl:mb-[8px] 2xl:mb-[10px] px-[15px] py-[10px] border-[#b8b8b8] border-[1px] rounded-xl w-full font-medium text-[#666] text-[13px] 2xl:text-[15px] appearance-none"
                autocomplete="tel"
                aria-label="celular"
                placeholder="Celular*"
              />
              <input
                required
                type="text"
                inputmode="numeric"
                pattern="[0-9]*"
                id="dni"
                name="dni"
                class="bg-[#f5f5f5] mb-[7px] xl:mb-[8px] 2xl:mb-[10px] px-[15px] py-[10px] border-[#b8b8b8] border-[1px] rounded-xl w-full font-medium text-[#666] text-[13px] 2xl:text-[15px] appearance-none"
                aria-label="dni"
                placeholder="Dni*"
                style="-moz-appearance:textfield; -webkit-appearance: none; appearance: textfield;"
              />
              <select
                class="hidden bg-[#f5f5f5] px-[15px] py-[10px] border-[#b8b8b8] border-[1px] rounded-xl font-medium text-[#666] text-[13px] 2xl:text-[15px] appearance-none"
                name="proyectos"
                aria-label="proyectos"
                required
                id=""
              >
                {
                  (
                    <option
                      aria-label={proyecto_form.nombre}
                      value={proyecto_form.id}
                    >
                      {proyecto_form.nombre}
                    </option>
                  )
                }
              </select>
              <p
                class="my-3.5 xl:my-4 2xl:my-6 w-full text-[15px] 2xl:text-[16px]"
              >
                Al enviar este formulario estás aceptando nuestras <font
                  class="text-verde-lord-text"
                >
                  <a href="/politicas-de-privacidad" class="cursor-pointer">
                    políticas de privacidad</a
                  ></font
                >
              </p>
              <button
                type="submit"
                class="flex flex-row justify-center items-center bg-naranja-lord hover:shadow-form px-16 py-3 rounded-2xl font-semibold text-[16px] text-white 2xl:text-lg duration-300 cursor-pointer"
              >
                <svg
                  id="loadingForm"
                  class="hidden mr-3 -ml-1 size-5 text-white animate-spin"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  ><circle
                    class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4"></circle><path
                    class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  ></path></svg
                >Envíar datos
              </button>
              <div class="my-5">
                <p
                  id="successForm"
                  class="hidden self-center text-start text-wrap"
                >
                  ¡Gracias por tu mensaje! Hemos recibido tus datos
                  correctamente y pronto nos pondremos en contacto contigo.
                </p>
                <p
                  id="errorForm"
                  class="hidden self-center text-start text-wrap"
                >
                  Hubo un problema al enviar tus datos. Por favor, intenta de
                  nuevo o contáctanos si el problema persiste.
                </p>
              </div>
            </form>
          </div>
        </div>
        <video
          class="top-0 z-10 absolute w-screen h-full object-center object-cover"
          autoplay
          muted
          preload="metadata"
          loop
          src={videoFondo}></video>
      </div>
      <!-- <div class="flex lg:flex-row flex-col bg-white py-12 w-screen">
    <div class="flex justify-center items-center w-full lg:w-[50%]">
        <iframe
        class="rounded-2xl"
        width="458"
        height="815"
        src={src_yt}
        title={title_yt}
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <div
        class="flex flex-col justify-center items-center lg:items-start w-full lg:w-[50%]"
    >
        <div class="w-[80%]">
        <Image
            class="mt-10 mb-16 w-[600px] max-w-[90vw]"
            src={logo}
            alt=""
            inferSize
        />
        <div class="mb-10 w-fit">
            <p class="font-semibold text-blue-900 text-4xl">
            Nuestro Proyecto
            </p>
            <div class="bg-blue-900 w-[20%] h-0.5"></div>
        </div>
        <p class="text-xl">{proyecto.landing.descripcion}</p>
        </div>
    </div>
    </div> -->
    </div>
    <Footer />
  </body><script>
    import { FORM_URL_POST } from "astro:env/client";

    document.addEventListener("astro:page-load", () => {
      const form = document.getElementById(
        "formulario_lord"
      ) as HTMLFormElement;
      const loading_form = document.getElementById("loadingForm");
      const successForm = document.getElementById("successForm");
      const errorForm = document.getElementById("errorForm");

      form?.addEventListener("submit", (e) => {
        loading_form?.classList.remove("hidden");
        e.preventDefault();
        const data = Object.fromEntries(
          new FormData(e.target as HTMLFormElement)
        );
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json; charset=utf-8");

        var raw = JSON.stringify({
          fname: data.nombres,
          lname: data.apellidos,
          document: data.dni,
          phone: data.celular,
          email: data.email,
          project_id: parseInt(data.proyectos.toString()),
          inputChannelId: 3,
          sourceId: 1,
          interestTypeId: 5,
        });

        fetch(FORM_URL_POST, {
          method: "POST",
          headers: myHeaders,
          body: raw,
        })
          .then((response) => response.text())
          .then((result) => {
            successForm?.classList.remove("hidden");
            loading_form?.classList.add("hidden");
            if (!errorForm?.classList.contains("hidden")) {
              errorForm?.classList.add("hidden");
            }
            form.reset();
          })
          .catch((error) => {
            errorForm?.classList.remove("hidden");
            loading_form?.classList.add("hidden");
            if (!successForm?.classList.contains("hidden")) {
              successForm?.classList.add("hidden");
            }
            form.reset();
          });
      });
    });
  </script>
</html>
