---
import Layout from "../../layouts/Layout.astro";
import familia1 from "../../assets/familia-1.png";
import { Image } from "astro:assets";
import { getPosts } from "../../js/getPosts";
import { imageFetch } from "../../js/ImageFetch";
import slug from "slug";
import Calendar from "../../assets/calendar.svg";
let blogs: any = [];

for (const e of (await getPosts("blog")).posts) {
  blogs.push({
    slug: slug(e.titulo),
    titulo: e.titulo,
    descripcion: e.descripcion,
    fecha: e.fecha,
    img: await imageFetch(e.img),
    post: e.post,
  });
}
blogs = blogs.reverse();
---

<Layout
  title="Blog - Lord Inmobiliaria"
  descripcion="En esta sección, hablaremos de temas relacionados con las inversiones inmobiliarias. Exploraremos las diferentes opciones de inversión disponibles, los factores que hay que tener en cuenta a la hora de invertir en bienes raíces, y los consejos para tener éxito en esta actividad."
  selected="4"
>
  <div class="relative overflow-x-hidden">
    <div
      class="flex flex-row flex-wrap justify-center gap-4 bg-verde-lord px-5 pt-14"
    >
      <div
        class="fade-left-full flex flex-col gap-4 my-auto max-w-[550px] text-white"
      >
        <h1 class="font-bold text-3xl">
          Mantente informado en nuestro
          <br />
          <font class="block bg-naranja-lord mt-1 py-1 w-fit"
            >&nbsp;&nbsp;&nbsp;blog&nbsp;</font
          >
        </h1>
        <p>
          En esta sección, hablaremos de temas relacionados con las inversiones
          inmobiliarias. Exploraremos las diferentes opciones de inversión
          disponibles, los factores que hay que tener en cuenta a la hora de
          invertir en bienes raíces, y los consejos para tener éxito en esta
          actividad.
        </p>
      </div>
      <Image
        class="fade-right-full w-full max-w-[500px]"
        src={familia1}
        alt=""
      />
    </div>
    <div class="flex flex-col gap-14 py-20">
      <div class="flex flex-row flex-wrap justify-center items-center gap-10">
        <Image
          src={blogs[0].img}
          transition:name={blogs[0].slug}
          class="rounded-2xl w-[90%] max-w-[600px] object-center object-cover aspect-3/2"
          alt=""
          inferSize
        />
        <div class="flex flex-col gap-5 w-[90%] max-w-[500px]">
          <div
            class="flex flex-row items-center gap-5 font-semibold text-verde-lord-text"
          >
            <Calendar width={25} />
            {blogs[0].fecha}
          </div>
          <p class="font-bold text-2xl" transition:name={blogs[0].titulo}>
            {blogs[0].titulo}
          </p>
          <p class="text-gray-500 text-sm">{blogs[0].descripcion}</p>
          <a
            href=`/blog/${blogs[0].slug}`
            class="bg-naranja-lord px-10 py-3 rounded-xl w-fit font-semibold text-white hover:scale-110 duration-500 ease-in-out"
            >Saber más</a
          >
        </div>
      </div>
      <div
        class="flex flex-row flex-wrap-reverse justify-center items-center gap-10"
      >
        <div
          class="flex flex-col gap-5 opacity-0 intersect:opacity-100 w-[90%] max-w-[500px] -translate-x-[90%] intersect:translate-0 duration-1000 ease-in-out"
        >
          <div
            class="flex flex-row items-center gap-5 font-semibold text-verde-lord-text"
          >
            <Calendar width={25} />
            {blogs[1].fecha}
          </div>
          <p class="font-bold text-2xl" transition:name={blogs[1].titulo}>
            {blogs[1].titulo}
          </p>
          <p class="text-gray-500 text-sm">{blogs[1].descripcion}</p>
          <a
            href=`/blog/${blogs[1].slug}`
            class="bg-naranja-lord px-10 py-3 rounded-xl w-fit font-semibold text-white hover:scale-110 duration-500 ease-in-out"
            >Saber más</a
          >
        </div>
        <Image
          src={blogs[1].img}
          class="opacity-0 intersect:opacity-100 rounded-2xl w-[90%] max-w-[600px] object-center object-cover aspect-3/2 translate-x-[90%] intersect:translate-0 duration-1000 ease-in-out"
          alt=""
          transition:name={blogs[1].slug}
          inferSize
        />
      </div>
      <div
        class="flex flex-row flex-wrap justify-center items-center gap-5 drop-shadow-xl"
      >
      
       {  blogs.map((a:any)=>{
        return(blogs[0].slug != a.slug && blogs[1].slug != a.slug ? (
        <a
          href=`/blog/${a.slug}`
          class="flex flex-col gap-3 bg-white opacity-0 intersect:opacity-100 p-4 rounded-2xl w-[90%] max-w-[390px] h-fit -translate-x-[90%] intersect:hover:-translate-y-5 intersect:translate-0 duration-700 ease-in-out"
        >
          <Image
            src={a.img}
            class="rounded-2xl object-center object-cover"
            transition:name={a.slug}
            alt=""
            inferSize
          />
          <p class="w-[90%] font-semibold" transition:name={a.titulo}>
            {a.titulo}
          </p>
          <p class="font-semibold text-verde-lord-text">{a.fecha}</p>
        </a>) : null
        )
       })}
      </div>
    </div>
  </div>
</Layout>
