---
import { Image } from "astro:assets";
import logolord from "../../assets/logolord.svg";
import yt from "../../assets/yt.svg";
import fb from "../../assets/fb.svg";
import ig from "../../assets/ig.svg";
import LibroDeReclamaciones from "../../assets/libro-reclamaciones.webp";
---

<footer
  class="relative flex flex-row flex-wrap justify-center gap-10 bg-[#252324] px-3 py-14 w-screen font-medium text-white"
>
  <div class="flex flex-col items-center gap-5 px-2 max-w-[250px] text-center">
    <Image src={logolord} class="w-28" alt="" />
    <p>
      Somos una inmobiliaria que cuenta con proyectos en zonas rentables y
      exclusivas.
    </p>
  </div>
  <div class="px-2">
    <ul class="">
      <li class="py-2 hover:text-verde-lord transition-colors">
        <a href="/nosotros">¿Quiénes somos?</a>
      </li>
      <li class="py-2 hover:text-verde-lord transition-colors">
        <a href="/#proyectos">Lotes</a>
      </li>
      <li class="py-2 hover:text-verde-lord transition-colors">
        <a href="/blog">Blog</a>
      </li>
      <li class="py-2 hover:text-verde-lord transition-colors">
        <a href="/politicas-de-privacidad">Politicas de privacidad</a>
      </li>
    </ul>
  </div>
  <div class="px-2 w-[250px]">
    <p>
      Edificio Capital Golf - Av. Club Golf Los Incas 154, Santiago de Surco
    </p>
    <p>940 923 345</p>
    <p>atencion@lordinmobiliaria.pe</p>
  </div>
  <div class="flex flex-col gap-4 px-2">
    <p>Síguenos en:</p>
    <div class="flex flex-row gap-3">
      <a href="https://www.facebook.com/lordinmobiliaria.peru" target="_blank"
        ><Image class="w-10" src={fb} alt="facebook" /></a
      >
      <a href="https://www.instagram.com/lord.inmobiliaria/" target="_blank">
        <Image class="w-10" src={ig} alt="instagram" /></a
      >
      <a
        href="https://www.youtube.com/channel/UCyZoF78Je9kbWQ8jQK__vhA"
        target="_blank"
      >
        <Image class="w-10" src={yt} alt="youtube" />
      </a>
    </div>
  </div>
  <!--   <a href="/libro-de-reclamaciones">
    <Image src={LibroDeReclamaciones} class="w-[200px] max-w-[90vw]" alt="" />
  </a> -->
</footer>
<div
  class="bg-naranja-lord px-20 py-6 font-medium text-white text-lg text-center md:text-start"
>
  <p>© 2023 lordinmobiliaria.pe | Todos los derechos Reservados.</p>
</div>
