---
import Form from "../components/Form.astro";
import Layout from "../layouts/Layout.astro";
import hoja1 from "../assets/hoja1.png";
import hoja2 from "../assets/hoja2.png";
import { Image } from "astro:assets";
import beneficios_modelo from "../assets/beneficios_modelo.png";
import campo from "../assets/campo.svg";
import carro from "../assets/carro.svg";
import parque from "../assets/parque.svg";
import piscina from "../assets/piscina.svg";
import foco from "../assets/foco.svg";
---

<Layout
  title="Contactanos - Lord Inmobiliaria"
  descripcion="Contáctanos y descubre sobre todos los proyectos que tenemos para ofrecerte tanto en costa como en la selva. Tú eliges.  ¡Se parte de Lord!"
  selected="5"
>
  <div class="relative">
    <div class="z-50 absolute w-full h-full pointer-events-none select-none">
      <Image
        src={hoja2}
        alt=""
        class="-top-24 z-50 absolute w-32 animate-wiggle"
      />
      <Image
        src={hoja1}
        class="block bottom-5 z-50 absolute w-16 animate-wiggle"
        alt=""
      />
      <Image
        src={hoja1}
        class="hidden lg:block top-0 right-10 bottom-0 z-50 absolute my-auto w-16 -rotate-90 animate-wiggle"
        alt=""
      />
    </div>
    <div
      class="z-10 relative flex flex-row flex-wrap-reverse justify-center xl:gap-10 lg:px-5 pt-5 overflow-hidden pointer-events-none select-none bg_form"
    >
      <div class="fade-left-full xl:my-auto mb-20 xl:w-[40%]">
        <Form />
      </div>
      <div class="fade-right-full relative w-fit h-fit">
        <div
          class="top-[3%] right-[20%] bg-icon rounded-[12%] w-[12%] h-auto rotate-12 icon-campo"
        >
          <Image src={campo} class="z-20 w-full" alt="" />
        </div>
        <div
          class="top-[30%] right-[8%] bg-icon rounded-[8%] w-[10%] h-auto icon-carro"
        >
          <Image src={carro} class="z-20 w-full" alt="" />
        </div>
        <div
          class="bottom-[23%] left-[19%] bg-icon rounded-[10%] w-[9%] h-auto rotate-6 icon-parque"
        >
          <Image src={parque} class="z-20 w-full" alt="" />
        </div>
        <div
          class="top-[5%] left-[28%] bg-icon rounded-[12%] w-[16%] h-auto -rotate-12 icon-campo"
        >
          <Image src={piscina} class="z-20 w-full" alt="" />
        </div>
        <div
          class="top-[30%] left-[7%] bg-icon rounded-[10%] w-[9%] h-auto -rotate-12 icon-parque"
        >
          <Image src={foco} class="z-20 w-full" alt="" />
        </div>
        <Image
          src={beneficios_modelo}
          class="mt-20 w-[700px] pointer-events-none select-none"
          alt=""
        />
      </div>
    </div>
  </div>
</Layout>
