---
import { Image } from "astro:assets";
import { arrImageFetch } from "../js/ArrImageFetch";
import { getPosts } from "../js/getPosts";
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import ProyectoCard from "../components/ProyectoCard.astro";
import coronamin from "../assets/coronamin.svg";
import { imageFetch } from "../js/ImageFetch";
import financia from "../assets/Soporte-2.png";
import familia_lord from "../assets/familia-lord.png";
import Arriba from "../assets/arriba.svg";
import check from "../assets/check.svg";
import izquierda from "../assets/izquierda.svg";
import { marked } from "marked";
const inicio = await getPosts("inicio");

const proyectos = (await getPosts("proyectos")).proyectos;
const slider_desktop = await arrImageFetch(inicio.slider_header.slider_desktop);
const slider_mobil = await arrImageFetch(inicio.slider_header.slider_mobil);
const slider_tablet = await arrImageFetch(inicio.slider_header.slider_tablet);
const img_form = await imageFetch(inicio.img_form);
const beneficios = inicio.financia.beneficios;

const testimonios = await Promise.all(
  inicio.slider_testimonios.map(async (e: any) => {
    return {
      texto: e.texto,
      img: await imageFetch(e.img),
    };
  })
);
---

<Layout
  title="Inicio - Lord Inmobiliaria"
  descripcion="Descubre todo lo que tenemos para ti en la costa y la selva 🏖️. Proyectos que ofrecen ubicación, rentabilidad y calidad de vida. ¡Haz la mejor inversión!"
  selected="1"
>
  <section
    class="hidden xl:block relative w-screen touch-pan-y"
    id="embla"
    style="--slide-height: auto; --slide-spacing: 5px; --dot-size: 20px;  --button-size: 60px; --buton-margin: 10px; --slide-size: calc(100% / 1);"
  >
    <div class="" id="embla__viewport">
      <div
        class="flex"
        style="touch-action: pan-y pinch-zoom; margin-left: calc(var(--slide-spacing) * -1);"
      >
        {
          slider_desktop.map((e) => {
            return (
              <div
                class="relative min-w-0 translate-3d embla__slide"
                style="flex: 0 0 var(--slide-size); transform: translate3d(0, 0, 0); padding-left: var(--slide-spacing);"
              >
                <Image src={e} class="w-full" inferSize alt="" />
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="flex justify-between w-full">
      <div
        class="top-0 z-50 absolute flex justify-between items-center w-full h-full pointer-events-none"
      >
        <button
          class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
          id="embla__button--prev"
          type="button"
          aria-label="slide anterior"
        >
          <svg
            style="width: var(--button-size); margin-left: var(--buton-margin);"
            viewBox="0 0 532 532"
          >
            <path
              fill="currentColor"
              d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
            ></path>
          </svg>
        </button>

        <button
          class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
          id="embla__button--next"
          type="button"
          aria-label="siguiente slide"
        >
          <svg
            style="width: var(--button-size); margin-right: var(--buton-margin);"
            viewBox="0 0 532 532"
          >
            <path
              fill="currentColor"
              d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
            ></path>
          </svg>
        </button>
      </div>

      <div
        class="bottom-1 absolute flex flex-row justify-center w-screen"
        id="embla__dots"
      >
      </div>
    </div>
  </section>
  <section
    class="hidden xl:hidden md:block relative w-screen"
    id="embla"
    style="--slide-height: auto; --slide-spacing: 5px; --dot-size: 20px;  --button-size: 40px; --buton-margin: 10px; --slide-size: calc(100% / 1);"
  >
    <div class="" id="embla__viewport">
      <div
        class="flex"
        style="touch-action: pan-y pinch-zoom; margin-left: calc(var(--slide-spacing) * -1);"
      >
        {
          slider_tablet.map((e) => {
            return (
              <div
                class="min-w-0 translate-3d embla__slide"
                style="flex: 0 0 var(--slide-size); transform: translate3d(0, 0, 0); padding-left: var(--slide-spacing);"
              >
                <Image src={e} inferSize alt="" />
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="flex justify-between w-full">
      <div
        class="top-0 z-50 absolute flex justify-between items-center w-full h-full pointer-events-none"
      >
        <button
          class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
          id="embla__button--prev"
          type="button"
          aria-label="slide anterior"
        >
          <svg
            style="width: var(--button-size); margin-left: var(--buton-margin);"
            viewBox="0 0 532 532"
          >
            <path
              fill="currentColor"
              d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
            ></path>
          </svg>
        </button>

        <button
          class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
          id="embla__button--next"
          type="button"
          aria-label="siguiente slide"
        >
          <svg
            style="width: var(--button-size); margin-right: var(--buton-margin);"
            viewBox="0 0 532 532"
          >
            <path
              fill="currentColor"
              d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
            ></path>
          </svg>
        </button>
      </div>

      <div
        class="bottom-1 absolute flex flex-row justify-center w-screen"
        id="embla__dots"
      >
      </div>
    </div>
  </section>
  <section
    class="md:hidden relative w-screen"
    id="embla"
    style="--slide-height: auto; --slide-spacing: 5px; --dot-size: 20px;  --button-size: 30px; --buton-margin: 10px; --slide-size: calc(100% / 1);"
  >
    <div class="" id="embla__viewport">
      <div
        class="flex"
        style="touch-action: pan-y pinch-zoom; margin-left: calc(var(--slide-spacing) * -1);"
      >
        {
          slider_mobil.map((e) => {
            return (
              <div
                class="min-w-0 translate-3d embla__slide"
                style="flex: 0 0 var(--slide-size); padding-left: var(--slide-spacing);"
              >
                <Image src={e} inferSize alt="" />
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="flex justify-between w-full">
      <div
        class="top-0 z-50 absolute flex justify-between items-center w-full h-full pointer-events-none"
      >
        <button
          class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
          id="embla__button--prev"
          type="button"
          aria-label="slide anterior"
        >
          <svg
            style="width: var(--button-size); margin-left: var(--buton-margin);"
            viewBox="0 0 532 532"
          >
            <path
              fill="currentColor"
              d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
            ></path>
          </svg>
        </button>

        <button
          class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
          id="embla__button--next"
          type="button"
          aria-label="siguiente slide"
        >
          <svg
            style="width: var(--button-size); margin-right: var(--buton-margin);"
            viewBox="0 0 532 532"
          >
            <path
              fill="currentColor"
              d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
            ></path>
          </svg>
        </button>
      </div>

      <div
        class="bottom-1 absolute flex flex-row justify-center w-screen"
        id="embla__dots"
      >
      </div>
    </div>
  </section>

  <div class="relative my-20">
    <div class="-top-[calc(50svh+100px)] absolute" id="proyectos"></div>
    <div
      class="top-[50svh] z-10 sticky flex flex-row justify-center items-center mt-[50svh] w-screen h-px"
    >
      <Image src={coronamin} class="w-[70%]" alt="" />
    </div>
    <h1
      class="z-40 relative flex flex-col justify-center items-center font-extrabold text-verde-lord-text text-4xl"
      style="margin-top: calc(-50svh + 60px);"
    >
      <p class="font-medium text-[15px] text-black tracking-[0]">
        CONOCE LO QUE ESPERA POR TI
      </p>
      Nuestros Lotes
    </h1>
    <div
      class="z-30 relative flex flex-row flex-wrap justify-center items-center w-screen"
    >
      <ProyectoCard data={proyectos[0]} />
      <ProyectoCard data={proyectos[1]} />
      <ProyectoCard data={proyectos[2]} />
    </div>

    <div
      class="relative flex flex-row justify-center items-start gap-10 py-16 overflow-hidden"
    >
      <div
        class="hidden z-50 relative lg:flex flex-col justify-center items-center opacity-0 intersect:opacity-100 drop-shadow-xl h-full -translate-x-full intersect:translate-x-0 duration-700 select-none"
      >
        <Image
          src={img_form}
          class="mt-14 h-[590px] object-contain"
          inferSize
          alt=""
        />
        <p
          class="bg-verde-lord p-5 border-[#01ca60] border-[6px] rounded-[20px] w-fit font-medium text-white text-3xl xl:text-4xl"
        >
          Ellos ya <br />
          <font class="font-extrabold text-4xl xl:text-5xl">confían</font> en <font
            class="font-extrabold text-4xl xl:text-5xl">nosotros</font
          >
        </p>
      </div>
      <div class="lg:w-[45%]"><Form /></div>
    </div>
  </div>
  <div class="flex justify-center w-screen">
    <p
      class="lg:hidden z-50 relative bg-verde-lord mb-20 p-5 border-[#01ca60] border-[6px] rounded-[20px] w-fit font-medium text-[28px] text-white xl:text-4xl"
    >
      Ellos ya <br />
      <font class="font-extrabold text-3xl xl:text-5xl">confían</font> en <font
        class="font-extrabold text-3xl xl:text-5xl">nosotros</font
      >
    </p>
  </div>
  <div
    class="z-30 relative flex flex-row justify-center bg-white -mt-32 py-24 lg:border-t-1 lg:border-t-gray-700"
  >
    <div
      class="top-0 left-0 z-40 absolute bg-white h-[100%]"
      style="width: calc(15vw);"
    >
    </div>
    <section
      class="md:hidden relative mx-[10%] w-screen"
      id="embla_start"
      style="--slide-height: auto; --slide-spacing: 10px; --dot-size: 20px;  --button-size: 40px; --buton-margin: 10px; --slide-size: calc(100% / 1);"
    >
      <div class="m-auto w-[70vw] h-fit" id="embla__viewport">
        <div
          class="flex"
          style="touch-action: pan-y pinch-zoom; margin-left: calc(var(--slide-spacing) * -1);"
        >
          {
            testimonios.map((e) => {
              return (
                <div
                  class="relative min-w-0"
                  style="flex: 0 0 var(--slide-size); width: calc(var(--slide-size)) ; padding-left: var(--slide-spacing);"
                >
                  <div
                    style="width: calc(100% - var(--slide-spacing));"
                    class="absolute flex justify-center items-center bg-[#0006] opacity-0 hover:opacity-100 drop-shadow-xl px-5 rounded-2xl h-full font-medium text-white text-center duration-300 ease-in-out select-none"
                  >
                    {e.texto}
                  </div>
                  <Image
                    src={e.img}
                    class="rounded-2xl w-full h-auto"
                    inferSize
                    alt=""
                  />
                </div>
              );
            })
          }
        </div>
      </div>

      <div class="flex justify-between w-screen">
        <div
          class="top-0 z-50 absolute flex justify-between items-center w-full h-full pointer-events-none"
        >
          <button
            class="text-verde-lord-text cursor-pointer pointer-events-auto"
            id="embla__button--prev"
            type="button"
            aria-label="testimonio previo"
          >
            <svg
              style="width: var(--button-size); margin-left: var(--buton-margin);"
              viewBox="0 0 532 532"
            >
              <path
                fill="currentColor"
                d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
              ></path>
            </svg>
          </button>

          <button
            class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
            id="embla__button--next"
            type="button"
            aria-label="siguiente testimonio"
          >
            <svg
              style="width: var(--button-size); margin-right: var(--buton-margin);"
              viewBox="0 0 532 532"
            >
              <path
                fill="currentColor"
                d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </section>
    <section
      class="hidden xl:hidden md:block relative mx-[10%] w-screen"
      id="embla_start"
      style="--slide-height: auto; --slide-spacing: 10px; --dot-size: 20px;  --button-size: 50px; --buton-margin: 10vw; --slide-size: calc(100% / 2);"
    >
      <div class="m-auto w-[70vw] h-fit" id="embla__viewport">
        <div
          class="flex"
          style="touch-action: pan-y pinch-zoom; margin-left: calc(var(--slide-spacing) * -1);"
        >
          {
            testimonios.map((e) => {
              return (
                <div
                  class="relative min-w-0"
                  style="flex: 0 0 var(--slide-size); width: calc(var(--slide-size)) ; padding-left: var(--slide-spacing);"
                >
                  <div
                    style="width: calc(100% - var(--slide-spacing));"
                    class="absolute flex justify-center items-center bg-[#0006] opacity-0 hover:opacity-100 drop-shadow-xl px-5 rounded-2xl h-full font-medium text-white text-center duration-300 ease-in-out select-none"
                  >
                    {e.texto}
                  </div>
                  <Image
                    src={e.img}
                    class="rounded-2xl w-full h-auto"
                    inferSize
                    alt=""
                  />
                </div>
              );
            })
          }
        </div>
      </div>

      <div class="flex justify-between w-screen">
        <div
          class="top-0 z-50 absolute flex justify-center items-center w-full h-full pointer-events-none"
          style="gap: 75%;"
        >
          <button
            class="text-verde-lord-text cursor-pointer pointer-events-auto"
            id="embla__button--prev"
            type="button"
            aria-label="testimonio previo"
          >
            <svg style="width: var(--button-size);" viewBox="0 0 532 532">
              <path
                fill="currentColor"
                d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
              ></path>
            </svg>
          </button>

          <button
            class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
            id="embla__button--next"
            type="button"
            aria-label="siguiente testimonio"
          >
            <svg style="width: var(--button-size);" viewBox="0 0 532 532">
              <path
                fill="currentColor"
                d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </section>
    <section
      class="hidden xl:block relative mx-[10%] w-screen"
      id="embla_start"
      style="--slide-height: auto; --slide-spacing: 10px; --dot-size: 20px;  --button-size: 50px; --buton-margin: 10vw; --slide-size: calc(100% / 3);"
    >
      <div class="m-auto w-[70vw] h-fit" id="embla__viewport">
        <div
          class="flex"
          style="touch-action: pan-y pinch-zoom; margin-left: calc(var(--slide-spacing) * -1);"
        >
          {
            testimonios.map((e) => {
              return (
                <div
                  class="relative min-w-0"
                  style="flex: 0 0 var(--slide-size); width: calc(var(--slide-size)) ; padding-left: var(--slide-spacing);"
                >
                  <div
                    style="width: calc(100% - var(--slide-spacing));"
                    class="absolute flex justify-center items-center bg-[#0006] opacity-0 hover:opacity-100 drop-shadow-xl px-5 rounded-2xl h-full font-medium text-white text-center duration-300 ease-in-out select-none"
                  >
                    {e.texto}
                  </div>
                  <Image
                    src={e.img}
                    class="rounded-2xl w-full h-auto"
                    inferSize
                    alt=""
                  />
                </div>
              );
            })
          }
        </div>
      </div>

      <div class="flex justify-between w-screen">
        <div
          class="top-0 z-50 absolute flex justify-center items-center w-full h-full pointer-events-none"
          style="gap: 75%;"
        >
          <button
            class="text-verde-lord-text cursor-pointer pointer-events-auto"
            id="embla__button--prev"
            type="button"
            aria-label="testimonio previo"
          >
            <svg style="width: var(--button-size);" viewBox="0 0 532 532">
              <path
                fill="currentColor"
                d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
              ></path>
            </svg>
          </button>

          <button
            class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
            id="embla__button--next"
            type="button"
            aria-label="siguiente testimonio"
          >
            <svg style="width: var(--button-size);" viewBox="0 0 532 532">
              <path
                fill="currentColor"
                d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </section>
    <div
      class="top-0 right-0 z-40 absolute bg-white h-[100%]"
      style="width: calc(15vw);"
    >
    </div>
  </div>
  <div
    class="relative flex xl:flex-row flex-col justify-center items-center w-screen h-fit overflow-hidden"
  >
    <Image
      class="z-20 opacity-0 intersect:opacity-100 pl-5 h-full -translate-x-full intersect:translate-0 duration-1000"
      src={familia_lord}
      alt=""
    />

    <div
      class="z-30 flex flex-col gap-3 opacity-0 intersect:opacity-100 mb-10 w-fit translate-x-[80%] intersect:translate-0 duration-1000"
    >
      <div
        class="relative flex flex-row justify-center self-center bg-verde-lord xl:mt-14 px-8 py-4 rounded-2xl w-fit text-white text-xl text-start text-nowrap"
      >
        <div>
          <Arriba
            width={40}
            fill={"#04b71e"}
            class="xl:hidden right-0 bottom-[99%] left-0 absolute fill-verde-lord mx-auto text-verde-lord-text"
          />
          <Image
            src={izquierda}
            class="hidden xl:block top-0 right-full bottom-0 absolute my-auto w-fit h-10"
            alt=""
          />
          <div class="xl:text-2xl">
            ¡No esperes más! <br />
            <font class="font-bold">Financia tu lote HOY MISMO</font>
          </div>
        </div>
      </div>
      {
        beneficios.map((e: any) => {
          return (
            <div
              class="flex flex-row flex-nowrap gap-1 px-3 text-sm"
              style="color: rgba(82, 104, 64, 0.75);"
            >
              <Image src={check} class="w-5" alt="" />
              <div
                set:html={marked.parse(e.texto)}
                class="flex items-center w-fit **:w-fit xl:text-lg"
              />
            </div>
          );
        })
      }
      <a
        class="self-start bg-naranja-lord mt-3 ml-10 px-10 py-3 rounded-lg w-fit font-medium text-white text-center"
        href="/contactanos"
      >
        Solicitar información
      </a>
    </div>
    <Image
      src={financia}
      class="bottom-0 absolute w-screen h-[90%] object-cover object-top"
      alt=""
    />
  </div>
</Layout>
