---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../js/getPosts";
import { imageFetch } from "../js/ImageFetch";
import hoja1 from "../assets/hoja1.png";
import hoja2 from "../assets/hoja2.png";
import Diana from "../assets/diana.svg";
import { marked } from "marked";
import check from "../assets/check.svg";
import LordCentroMitadInferior from "../assets/lordcentromitadinferior.svg";
import Familias from "../assets/familias.svg";
import AreasVerdes from "../assets/areas-verdes.svg";
import Experiencia from "../assets/experiencia.svg";
const nosotros = await getPosts("nosotros");
const fondo = await imageFetch(nosotros.fondo_img);
const img_objetivo = await imageFetch(nosotros.img_objetivo);
const proyectos = nosotros.proyectos.proyectos.map((e: any) => {
  return e.nombre;
});

const imagen_mapa = await imageFetch(nosotros.proyectos.imagen_mapa);
const imagen_modelo = await imageFetch(nosotros.proyectos.imagen_modelo);
---

<Layout
  title="Nosotros - Lord Inmobiliaria"
  descripcion={nosotros.conocenos.descripcion}
  selected="2"
>
  <div class="relative overflow-hidden text-[#898888]">
    <Image
      src={fondo}
      loading="eager"
      class="z-40 relative w-screen h-[500px] object-center object-cover"
      alt=""
      inferSize
    />
    <div
      class="z-20 relative bg-white shadow-xl mx-auto mb-5 px-10 py-14 rounded-b-4xl container fade-down"
    >
      <h1 class="mb-8 font-extrabold text-verde-lord-text text-3xl">
        {nosotros.conocenos.titulo}
      </h1>
      <p>{nosotros.conocenos.descripcion}</p>
      <Image
        src={hoja1}
        loading="eager"
        class="-bottom-14 left-1 lg:-left-7 absolute size-20 lg:size-28 animate-wiggle"
        alt=""
      />
    </div>
    <div
      class="flex flex-row flex-wrap justify-center items-center gap-10 my-14 p-5 w-screen"
    >
      <div
        class="opacity-0 intersect:opacity-100 [&>iframe]:rounded-2xl [&>iframe]:w-[90vw] [&>iframe]:max-w-[600px] [&>iframe]:h-auto [&>iframe]:aspect-video overflow-hidden -translate-x-[90%] intersect:translate-0 duration-1000"
        set:html={nosotros.video_yt}
      />
      <div
        class="opacity-0 intersect:opacity-100 translate-x-[90%] intersect:translate-0 duration-1000"
      >
        <div class="px-3 py-5 border-b-[#ababab] border-b-[1px] max-w-[500px]">
          <h2 class="font-semibold text-verde-lord-text text-2xl">Misión</h2>
          <p class="text-[#898888]">{nosotros.mision}</p>
        </div>
        <div class="px-3 py-5 border-b-[#ababab] border-b-[1px] max-w-[500px]">
          <h2 class="font-semibold text-verde-lord-text text-2xl">Visión</h2>
          <p class="text-[#898888]">{nosotros.vision}</p>
        </div>
        <div class="px-3 py-5 max-w-[500px]">
          <h2 class="font-semibold text-verde-lord-text text-2xl">Valores</h2>
          <p class="text-[#898888]">{nosotros.valores}</p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row flex-wrap justify-center items-start gap-10 my-10 px-4"
    >
      <div
        class="z-30 flex flex-col bg-white opacity-0 intersect:opacity-100 shadow-2xl -mt-10 p-9 lg:px-16 lg:py-13 rounded-3xl w-[600px] -translate-x-[90%] intersect:translate-0 lg:intersect:translate-x-20 duration-1000"
      >
        <Diana fill="#028212" width={70} />
        <h2 class="mb-3 font-semibold text-verde-lord-text text-2xl">
          Nuestro Objetivo
        </h2>
        <p>{nosotros.objetivo}</p>
      </div>
      <div
        class="relative opacity-0 intersect:opacity-100 w-fit scale-90 intersect:scale-100 duration-1000"
      >
        <Image src={img_objetivo} class="rounded-3xl" inferSize alt="" />
        <Image
          src={hoja2}
          class="right-1 md:-right-5 -bottom-12 absolute size-20 lg:size-28 animate-wiggle"
          alt=""
        />
      </div>
    </div>
    <div
      class="flex flex-row flex-wrap justify-center items-start gap-10 mt-20 px-2"
    >
      <div class="flex flex-col gap-5 w-fit">
        <p
          class="opacity-0 intersect:opacity-100 font-bold text-verde-lord-text text-4xl duration-1000"
        >
          Nuestros proyectos
        </p>
        <div
          class="flex flex-col gap-2 opacity-0 intersect:opacity-100 -translate-x-[90%] intersect:translate-0 duration-1000"
        >
          {
            proyectos.map((e: string) => {
              return (
                <div class="flex flex-row flex-nowrap items-center gap-1">
                  <Image src={check} alt="" />
                  <p class="text-[#7B8C6F]" set:html={marked.parse(e)} />
                </div>
              );
            })
          }
        </div>
        <div
          class="flex flex-row justify-end bg-[#F3B301] opacity-0 intersect:opacity-100 shadow-2xl py-2 border-y-[5px] border-y-white border-r-[5px] border-r-white rounded-r-2xl w-[350px] text-white text-2xl -translate-x-[90%] intersect:translate-0 duration-1000"
        >
          <div class="flex flex-col mr-13 w-fit [&p]:leading-1">
            <p>Tenemos</p>
            <p class="font-extrabold text-3xl">Presencia</p>
            <p class="ml-10">
              en el <font class="font-extrabold text-3xl">Pais</font>
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-center self-end w-fit">
        <Image
          class="opacity-0 intersect:opacity-100 -mr-5 w-[45vw] md:w-[200px] lg:w-[250px] xl:w-[300px] scale-75 intersect:scale-100 duration-1000"
          src={imagen_mapa}
          alt=""
          inferSize
        />
        <Image
          class="opacity-0 intersect:opacity-100 w-[50vw] md:w-[250px] lg:w-[300px] xl:w-[350px] translate-x-[90%] intersect:translate-0 duration-1000"
          src={imagen_modelo}
          alt=""
          inferSize
        />
      </div>
    </div>
    <div
      class="relative flex flex-row flex-wrap justify-center items-center gap-10 px-2 py-14 bg_verde_gradient"
    >
      <LordCentroMitadInferior
        width={150}
        class="top-0 right-0 left-0 z-10 absolute mx-auto"
      />
      <div
        class="z-20 flex flex-row justify-start items-center gap-3 opacity-0 intersect:opacity-100 w-[350px] -translate-x-[90%] intersect:translate-0 duration-1000"
      >
        <Experiencia width={100} />
        <div class="flex flex-col text-white text-lg">
          <p class="font-extrabold text-3xl">9</p>
          <p>Años de experiencia</p>
        </div>
      </div>
      <div
        class="z-20 flex flex-row justify-start items-center gap-3 opacity-0 intersect:opacity-100 w-[350px] scale-50 intersect:scale-100 duration-1000"
      >
        <Familias width={100} />
        <div class="flex flex-col text-white text-lg">
          <p class="font-extrabold text-3xl">+15mil</p>
          <p>Familias satisfechas</p>
        </div>
      </div>
      <div
        class="z-20 flex flex-row justify-start items-center gap-3 opacity-0 intersect:opacity-100 w-[350px] translate-x-[90%] intersect:translate-0 duration-1000"
      >
        <AreasVerdes width={100} />
        <div class="flex flex-col text-white text-lg">
          <p class="font-extrabold text-3xl">+20mil</p>
          <p>m² áreas verdes</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
