---
import { Image } from "astro:assets";
import { imageFetch } from "../js/ImageFetch";

import enconstruccion from "../assets/enconstruccion.svg";
import entregado from "../assets/entregado.svg";
import preventa from "../assets/preventa.svg";
import arrow from "../assets/arrow.svg";
import slug from "slug";

const { data } = Astro.props;
const img = await imageFetch(data.card.img);
let estado: any;
switch (data.card.estado) {
  case "PRE VENTA":
    estado = preventa;
    break;
  case "ENTREGADO":
    estado = entregado;
    break;
  case "EN CONSTRUCCIÓN":
    estado = enconstruccion;
    break;
}
---

<a
  href=`/proyectos/${slug(data.card.nombre)}`
  class="bg-white opacity-0 intersect:opacity-100 shadow-2xl m-5 mb-10 rounded-2xl w-[350px] translate-y-20 intersect:translate-0 duration-700 cursor-pointer"
>
  <div
    class="z-40 absolute flex flex-col justify-center items-center bg-[#0006] opacity-0 hover:opacity-100 rounded-2xl w-full h-[320px] font-medium text-white text-xl hover:*:scale-100 *:scale-[0.2] duration-500 *:duration-500 ease-in-out pointer-events-auto"
  >
    <p>Sepáralo desde</p><p
      class="bg-naranja-lord px-7 py-2 border-2 border-white rounded-2xl font-bold text-3xl"
    >
      {data.card.separar_desde}
    </p>
  </div>
  <Image class="absolute" src={estado} alt="" inferSize />
  <Image
    class="rounded-t-2xl w-full h-[320px] object-center object-cover"
    src={img}
    alt=""
    inferSize
  />
  <div class="flex flex-col gap-2.5 p-5">
    <h2 class="font-bold text-[17px] text-verde-lord-text text-nowrap">
      {data.card.nombre}
    </h2>
    <p class="flex flex-row flex-nowrap items-center gap-2.5 text-sm">
      <Image src={arrow} class="w-6" alt="" />
      {data.card.ubi}
    </p>
  </div>
</a>
