---
import type { GetStaticPaths } from "astro";
import { getPosts } from "../../js/getPosts";
import Layout from "../../layouts/Layout.astro";
import slug from "slug";
import { imageFetch } from "../../js/ImageFetch";
import { Image } from "astro:assets";
import Pdf from "../../assets/pdf.svg";
import LordMitadInferior from "../../assets/lordcentromitadinferior.svg";
import Location from "../../assets/location.svg";
import { marked } from "marked";
import Form from "../../components/Form.astro";
import ConoceTuHogar from "../../assets/conocetuhogar.svg";
import Arriba from "../../assets/arriba.svg";
import modelo from "../../assets/modelodedoscruzados.webp";
import Waze from "../../assets/waze.svg";
import Maps from "../../assets/maps.svg";
export const prerender = true;
export const getStaticPaths = (async () => {
  const proyectos = (await getPosts("proyectos")).proyectos;
  return proyectos.map((proyecto: any) => ({
    params: {
      proyecto: slug(proyecto.card.nombre),
    },
    props: { proyecto: proyecto },
  }));
}) satisfies GetStaticPaths;
const { proyecto } = Astro.props as { proyecto: any };
const fondo_head = await imageFetch(proyecto.pag.fondo_head);
const brochure = await imageFetch(proyecto.pag.brochure);
function capitalizar(str: string) {
  return str.replace(/\w\S*/g, function (txt) {
    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
  });
}
const slider = [];

for (const el of proyecto.pag.slider) {
  slider.push(await imageFetch(el));
}
const logo = await imageFetch(proyecto.pag.logo);
const fondo = await imageFetch(proyecto.pag.ubicanos.fondo);
const logoUbicanos = await imageFetch(proyecto.pag.ubicanos.logo);
const mapa = await imageFetch(proyecto.pag.ubicanos.mapa);
const iconoUbicacion = await imageFetch(proyecto.pag.ventajas.ubicacion.icono);
const iconoTamaño = await imageFetch(proyecto.pag.ventajas.tamano.icono);
const iconoLocalizacion = await imageFetch(
  proyecto.pag.ventajas.localizacion.icono
);

let beneficios: any = [];
for (const el of proyecto.pag.beneficios.beneficio) {
  beneficios.push({
    icon: await imageFetch(el.icon),
    text: el.text,
  });
}

let mitad = Math.ceil(beneficios.length / 2);
let inicio = beneficios.slice(0, mitad);
let final = beneficios.slice(mitad);
---

<Layout
  title={proyecto.card.nombre}
  descripcion={proyecto.pag.descripcion}
  selected="3"
>
  <header
    class="relative flex flex-row justify-center items-end overflow-hidden"
  >
    <Image
      src={fondo_head}
      alt=""
      class="w-screen h-[450px] object-center object-cover"
      inferSize
    />
    <div
      class="bottom-5 absolute flex flex-wrap justify-between gap-5 w-[80vw]"
    >
      <a
        href=`${brochure}`
        target="_blank"
        class="flex flex-row flex-nowrap items-center gap-2 bg-white px-10 py-3 rounded-xl font-bold animate-fade-left-full cursor-pointer select-none"
      >
        <Pdf width={30} />
        <p>Descargar Brochure</p>
      </a>
      <a
        href="#formRegistro"
        class="right-0 flex flex-row justify-center items-center bg-verde-lord px-10 py-3 rounded-xl font-bold text-white animate-fade-right-full"
        >Adquirir ¡AHORA!</a
      >
    </div>
  </header>
  <div id="formRegistro"></div>
  <div
    class="relative flex flex-row justify-center items-center bg-verde-proyecto py-5 overflow-hidden"
  >
    <LordMitadInferior
      width={200}
      class="top-0 right-0 left-0 z-10 absolute mx-auto"
    />
    <div
      class="z-20 flex flex-row flex-wrap justify-between items-center gap-5 w-[80vw] max-w-[1000px]"
    >
      <div class="flex flex-col gap-3 animate-fade-left-full">
        <h1 class="font-medium text-white text-3xl lg:text-4xl">
          proyecto <br />
          <font class="font-extrabold">{proyecto.pag.titulo}</font>
        </h1>
        <p
          class="bg-red-500 px-7 py-3 rounded-xl w-fit font-semibold text-white"
        >
          {capitalizar(proyecto.card.estado)}
        </p>
      </div>
      <div
        class="flex flex-row justify-start gap-2 w-fit h-fit text-white animate-fade-right-full"
      >
        <Location width={20} />
        <p class="w-fit h-fit font-medium text-lg">{proyecto.card.ubi}</p>
      </div>
    </div>
  </div>
  <div
    class="flex flex-row flex-wrap justify-center items-center gap-10 px-4 lg:px-10 py-16 overflow-hidden"
  >
    <div
      class="flex flex-col justify-center items-center gap-5 opacity-0 intersect:opacity-100 w-[85%] lg:w-[45%] max-w-[500px] [&>p]:text-gray-700 [&>p]:text-start -translate-x-[90%] intersect:translate-0 duration-1000 ease-in-out"
    >
      <Image src={logo} class="w-[70%]" alt="" inferSize />
      <p set:html={marked(proyecto.pag.descripcion)} />
    </div>
    <Form />
  </div>
  <div class="relative flex justify-center overflow-hidden">
    <div
      class="flex flex-col justify-center items-center gap-5 [&>p]:w-[90%] lg:[&>p]:w-[80%] max-w-[1200px] [&>p]:text-gray-700 [&>p]:text-lg text-center [&>p]:text-start"
    >
      <h2
        class="opacity-0 intersect:opacity-100 font-bold text-verde-lord-text text-4xl -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        {proyecto.pag.ventajas.titulo}
      </h2>
      <p set:html={marked(proyecto.pag.ventajas.descripcion)} />
      <div class="flex flex-row flex-wrap justify-between gap-5 w-[80%]">
        <div
          class="flex flex-row justify-center items-center gap-3 opacity-0 intersect:opacity-100 w-[300px] -translate-x-[90%] intersect:translate-0 duration-1000 ease-in-out"
        >
          <Image src={iconoUbicacion} alt="" inferSize />
          <div class="font-normal text-gray-500 text-lg text-start">
            {proyecto.pag.ventajas.ubicacion.texto}
          </div>
        </div>
        <div
          class="flex flex-row justify-center items-center gap-3 opacity-0 intersect:opacity-100 w-[300px] scale-0 intersect:scale-100 duration-1000 ease-in-out"
        >
          <Image src={iconoTamaño} alt="" inferSize />
          <div class="font-normal text-gray-500 text-lg text-start">
            {proyecto.pag.ventajas.tamano.texto}
          </div>
        </div>
        <div
          class="flex flex-row justify-center items-center gap-3 opacity-0 intersect:opacity-100 w-[300px] translate-x-[90%] intersect:translate-0 duration-1000 ease-in-out"
        >
          <Image src={iconoLocalizacion} alt="" inferSize />
          <div class="font-normal text-gray-500 text-lg text-start">
            {proyecto.pag.ventajas.localizacion.texto}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-10 px-5 overflow-hidden text-center">
    <p
      class="opacity-0 intersect:opacity-100 font-bold text-verde-lord-text text-4xl -translate-x-[90%] intersect:translate-0 duration-1000 ease-in-out"
    >
      {proyecto.pag.beneficios.titulo}
    </p>
    <p
      class="opacity-0 intersect:opacity-100 mt-2 mb-10 text-2xl translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
    >
      {proyecto.pag.beneficios.sub_titulo}
    </p>
    <div class="flex flex-col gap-7">
      <div class="flex flex-row flex-wrap justify-center gap-7 lg:gap-10">
        {
          inicio.map((e: any) => {
            return (
              <div class="flex flex-col justify-center items-center gap-2 bg-[#8DD267] opacity-0 intersect:opacity-100 p-2 rounded-2xl w-[170px] h-[150px] scale-0 intersect:scale-100 duration-1000 ease-in-out">
                <Image
                  src={e.icon}
                  alt=""
                  inferSize
                  class="w-[70px] h-[70px] object-center object-contain"
                />
                <p class="text-gray-600 text-sm">{e.text}</p>
              </div>
            );
          })
        }
      </div>
      <div class="flex flex-row flex-wrap justify-center gap-7 lg:gap-10">
        {
          final.map((e: any) => {
            return (
              <div class="flex flex-col justify-center items-center gap-2 bg-[#8DD267] opacity-0 intersect:opacity-100 p-2 rounded-2xl w-[170px] h-[150px] scale-0 intersect:scale-100 duration-1000 ease-in-out">
                <Image
                  src={e.icon}
                  alt=""
                  inferSize
                  class="w-[70px] h-[70px] object-center object-contain"
                />
                <p class="text-gray-600 text-sm">{e.text}</p>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
  <div
    class="flex flex-col justify-center items-center gap-5 px-4 lg:px-10 py-16 [&>p]:w-[95%] lg:[&>p]:w-[80%] overflow-hidden [&>p]:text-[17px]"
  >
    <h2
      class="opacity-0 intersect:opacity-100 mt-10 font-bold text-verde-lord-text text-4xl text-center -translate-x-[90%] intersect:translate-0 duration-1000 ease-in-out"
    >
      {proyecto.pag.razon_de_inversion.titulo}
    </h2>
    <p set:html={marked(proyecto.pag.razon_de_inversion.descripcion)} />
  </div>
  <div
    class="flex flex-row flex-wrap justify-center items-center gap-10 px-5 py-5 border-y-8 border-y-verde-lord w-screen overflow-hidden"
  >
    <div
      class="flex flex-col justify-center items-start gap-10 py-10 overflow-hidden"
    >
      <ConoceTuHogar
        width={250}
        class="opacity-0 intersect:opacity-100 px-5 lg:w-[400px] -translate-x-[90%] intersect:translate-0 duration-1000"
      />
      <section
        class="relative lg:mx-5 w-[85vw] lg:w-[35vw]"
        id="embla"
        style="--slide-height: auto; --slide-spacing: 5px; --dot-size: 15px;  --button-size: 30px; --buton-margin: 10px; --slide-size: calc(100% / 1);"
      >
        <div class="" id="embla__viewport">
          <div
            class="flex"
            style="touch-action: pan-y pinch-zoom; margin-left: calc(var(--slide-spacing) * -1);"
          >
            {
              slider.map((e) => {
                return (
                  <div
                    class="min-w-0 translate-3d embla__slide"
                    style="flex: 0 0 var(--slide-size); padding-left: var(--slide-spacing);"
                  >
                    <Image
                      src={e}
                      class="rounded-2xl w-[85vw] lg:w-[35vw]"
                      inferSize
                      alt=""
                    />
                  </div>
                );
              })
            }
          </div>
        </div>

        <div class="flex justify-between w-full">
          <div
            class="invisible top-0 z-50 absolute flex justify-between items-center w-full h-full pointer-events-none"
          >
            <button
              class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
              id="embla__button--prev"
              type="button"
            >
              <svg
                style="width: var(--button-size); margin-left: var(--buton-margin);"
                viewBox="0 0 532 532"
              >
                <path
                  fill="currentColor"
                  d="M355.66 11.354c13.793-13.805 36.208-13.805 50.001 0 13.785 13.804 13.785 36.238 0 50.034L201.22 266l204.442 204.61c13.785 13.805 13.785 36.239 0 50.044-13.793 13.796-36.208 13.796-50.002 0a5994246.277 5994246.277 0 0 0-229.332-229.454 35.065 35.065 0 0 1-10.326-25.126c0-9.2 3.393-18.26 10.326-25.2C172.192 194.973 332.731 34.31 355.66 11.354Z"
                ></path>
              </svg>
            </button>

            <button
              class="drop-shadow-xl w-fit text-verde-lord-text cursor-pointer pointer-events-auto"
              id="embla__button--next"
              type="button"
            >
              <svg
                style="width: var(--button-size); margin-right: var(--buton-margin);"
                viewBox="0 0 532 532"
              >
                <path
                  fill="currentColor"
                  d="M176.34 520.646c-13.793 13.805-36.208 13.805-50.001 0-13.785-13.804-13.785-36.238 0-50.034L330.78 266 126.34 61.391c-13.785-13.805-13.785-36.239 0-50.044 13.793-13.796 36.208-13.796 50.002 0 22.928 22.947 206.395 206.507 229.332 229.454a35.065 35.065 0 0 1 10.326 25.126c0 9.2-3.393 18.26-10.326 25.2-45.865 45.901-206.404 206.564-229.332 229.52Z"
                ></path>
              </svg>
            </button>
          </div>

          <div
            class="bottom-1 absolute flex flex-row justify-center w-[85vw] lg:w-[35vw]"
            id="embla__dots"
          >
          </div>
        </div>
      </section>
    </div>
    <div
      class="flex flex-col justify-center items-center opacity-0 intersect:opacity-100 translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
    >
      <Image src={modelo} class="w-[500px]" alt="" />
      <div
        class="relative flex flex-col justify-center items-center self-end gap-2 bg-verde-lord mb-10 px-14 py-4 rounded-xl w-fit font-medium text-white font"
      >
        <Arriba
          width={40}
          fill={"#04b71e"}
          class="bottom-[99%] absolute fill-verde-lord text-verde-lord-text"
        />
        <div>¿Te gustó lo que viste?</div>
        <div>¡Coordina una visita para conocer el proyecto!</div>
        <a
          href="#formRegistro"
          class="flex justify-center items-center bg-naranja-lord px-8 py-2 rounded-lg w-fit font-semibold"
          >Registrate aquí</a
        >
      </div>
    </div>
  </div>
  <div
    class="relative flex flex-row flex-wrap justify-center gap-10 px-2 py-10 w-screen overflow-hidden"
  >
    <Image
      src={fondo}
      alt=""
      inferSize
      class="top-0 left-0 z-10 absolute brightness-50 w-full h-full object-center object-cover"
    />
    <div
      class="z-20 relative flex flex-col justify-center items-start max-w-[550px] text-[16px] text-white text-start"
    >
      <p
        class="opacity-0 intersect:opacity-100 mb-4 font-bold text-2xl -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Ubícanos
      </p>
      <p
        class="opacity-0 intersect:opacity-100 font-semibold text-verde-lord-text text-lg -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Oficina de ventas
      </p>
      <p
        class="opacity-0 intersect:opacity-100 mb-2 -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Edificio Capital Golf - Av. Club Golf Los Incas 154, Santiago de Surco.
      </p>
      <p
        class="opacity-0 intersect:opacity-100 font-semibold text-verde-lord-text text-lg -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Oficina principal
      </p>
      <p
        class="opacity-0 intersect:opacity-100 mb-2 -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Edificio Capital Golf - Av. Club Golf Los Incas 154, Santiago de Surco.
      </p>
      <p
        class="opacity-0 intersect:opacity-100 font-semibold text-verde-lord-text text-lg -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Horarios de atención
      </p>
      <p
        class="opacity-0 intersect:opacity-100 -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Lunes a Viernes - 08:30am a 06:00pm
      </p>
      <p class="mb-2">Sábados - 08:30am a 1:00pm</p>
      <p
        class="opacity-0 intersect:opacity-100 font-semibold text-verde-lord-text text-lg -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        Teléfonos
      </p>
      <p
        class="opacity-0 intersect:opacity-100 mb-4 -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
      >
        {proyecto.numero_de_cel}
      </p>
      <Image
        src={logoUbicanos}
        class="opacity-0 intersect:opacity-100 w-xs -translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
        alt=""
        inferSize
      />
    </div>
    <div
      class="z-20 relative opacity-0 intersect:opacity-100 my-10 max-w-[90vw] translate-x-[90%] intersect:translate-x-0 duration-1000 ease-in-out"
    >
      <Image src={mapa} class="mb-5 rounded-2xl" alt="" inferSize />
      <div class="flex flex-row flex-wrap gap-5">
        <a
          href={proyecto.pag.ubicanos.url_waze}
          target="_blank"
          class="flex flex-row items-center gap-2 bg-naranja-lord px-8 py-3 rounded-xl text-white text-nowrap"
        >
          <Waze width={25} /> Ver en Waze
        </a>
        <a
          href={proyecto.pag.ubicanos.url_google_maps}
          target="_blank"
          class="flex flex-row items-center gap-2 bg-naranja-lord px-8 py-3 rounded-xl text-white text-nowrap"
        >
          <Maps width={20} /> Google Maps
        </a>
      </div>
    </div>
  </div>
</Layout>
